{erl_opts, [debug_info]}.

{deps,[
       {meck,"0.*", {git, "git@github.com:Phonebooth/meck", {branch, "iswitch"}}}
      ]}.

{clean_files, ["*~","**/*~","**/*.beam","logs/*","test/Emakefile"]}.

{cover_enabled, true}.

{eunit_opts, [verbose,
              {report, {eunit_surefire, [{dir, "."}]}}]}.
